*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(2, 18, 49);
}
h1{
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.x{
    margin-top: 12%;
    color: white;
}
.d{
    color: blue;
    margin-left: 100px;
    margin-bottom: 20px;
    
}
.e{
    font-size: 50px;
    margin-left: 80px;
}
dl{
    margin-left: 100px;
    font-family: cursive;
}
.y{
    margin-left: 100px;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
    margin-top: 25px;
}
.z{
    margin-left: 25px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
    margin-top: 25px;
    background: transparent;
    color: white;
}
.y:hover{
    background-color: white;
    transition: 1s;
}
.z:hover{
    color: white;
    background-color: blue;
    transition: 1s;
}
.icon{
    margin-top: 40px;
    margin-left: 140px;
    font-size: 40px;
    justify-content: space-between;
    
    
}
.icon a{
    background-color: whitesmoke;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}
.icon a:hover{
    color: white;
    background-color: blue;
}
.s{
    position: absolute;
    right: 200px;
    bottom: 100px;
    width: 300px;
    border-radius: 35%;
    border-color: deepskyblue;
    border-style: solid;
    border-width: 10px;  
}
